BasedOnStyle: Google
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
FixNamespaceComments: true
IndentCaseLabels: true
PointerAlignment: Left
IndentWidth: 4
AccessModifierOffset: -2
UseTab: Never
TabWidth: 4
